<!DOCTYPE html>
<html>
<head>
<title>{{ box.name }}</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container text-center">

  <div class="row mt-3 border-bottom">
    <div class="col m-1">
    {% if paper_count_inside == 0 %}
    <h2>Keine Zettel mehr in der Box.</h2>
    <form action="{% url 'zettelbox:force_insert_all' box.name %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Alle Zettel zurückholen.">
    </form>
    {% else %}
    <form action="{% url 'zettelbox:random' box.name %}" method="post">
      {% csrf_token %}
      <input class="btn btn-info" type="submit" value="Zufälligen Zettel ziehen ({{ paper_count_inside }} übrig)">
    </form>
    {% endif %}
    </div>
  </div>

  {% if current %}
  <div class="row mt-3 border border-rounded p-2">
    <div class="col-lg m-1">
      <h1>{{ current.content }}</h1>
    </div>
    <div class="col-2 m-auto">
      <form action="{% url 'zettelbox:insert_paper' box.name current.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-sm btn-secondary" type="submit" value="Zurücklegen">
      </form>
    </div>
    <div class="col-2 m-auto">
      <form action="{% url 'zettelbox:confirm_paper' box.name current.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-sm btn-info" type="submit" value="Ok">
      </form>
    </div>
  </div>
  {% endif %}

  <div class="row mt-3">
  {% for paper in papers %}
    <div class="col m-1 p-2 border border-rounded">
      <p>{{ paper.content }}</p>
      <form action="{% url 'zettelbox:insert_paper' box.name paper.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-sm btn-secondary" type="submit" value="Zurücklegen">
      </form>
    </div>
  {% endfor %}
  </div>

</div>

</body>
</html>
