<!DOCTYPE html>
<html>
<head>
<title>{{ box.name }}</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container text-center">

  <div class="row mt-3 border-bottom">
    <div class="col m-1">
      <h1>{{ box.name }}</h1>
      <p>Mit Zetteln von {{ players }}</p>
      <p>{{ paper_count_inside }}/{{ paper_count }} Zettel sind drin</p>
    </div>
    <div class="w-100"></div>
    {% if box.open %}
    <div class="col m-1">
    <form action="{% url 'zettelbox:close' box.name %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Keine neuen Zettel mehr zulassen">
    </form>
    </div>
    {% endif %}
    <div class="col m-1">
    <form action="{% url 'zettelbox:random' box.name %}" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Zufälligen Zettel ziehen">
    </form>
    </div>
  </div>


  {% if message %}<div class="row"><div class="col m-1 p-2"><p><strong>{{ message }}</strong></p></div></div>{% endif %}

  <div class="row mt-3">
  {% for paper in papers %}
    <div class="col m-1 p-2 border border-rounded">
      <p>{{ paper.content }}</p>
      <form action="{% url 'zettelbox:insert_paper' box.name paper.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-sm btn-primary" type="submit" value="In die Box legen">
      </form>
      <form action="{% url 'zettelbox:delete_paper' box.name paper.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-sm btn-danger"type="submit" value="Vernichten">
      </form>
    </div>
  {% endfor %}
  {% if box.open %}
  <div class="col m-1 p-2 border border-rounded">
  <form action="{% url 'zettelbox:add_paper' box.name %}" method="post">
    {% csrf_token %}
    <input type="text" name="content" placeholder="Ein Wort">
    <input class="btn btn-success" type="submit" value="Zettel speichern">
  </form>
  </div>
  {% endif %}
  </div>


  <div class="row mt-3">
    <div class="col m-1">
    <form action="{% url 'zettelbox:insert_all' box.name %}" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Alle Zettel in die Box legen">
    </form>
    </div>

    <div class="col m-1">
    <form action="{% url 'zettelbox:force_insert_all' box.name %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Allen Mitspieler:innen die Zettel entreißen und zurück in die Box tun.">
    </form>
    </div>

    {% if not box.open %}
    <div class="col m-1">
    <form action="{% url 'zettelbox:open' box.name %}" method="post">
      {% csrf_token %}
      <input class="btn btn-success" type="submit" value="Wieder neue Zettel zulassen">
    </form>
    </div>
    {% endif %}
  </div>

  <div class="row mt-3 border-top">
    <div class="col m-1">
    <form action="{% url 'zettelbox:rename' %}" method="post">
      {% csrf_token %}
      Die Anderen sehen dich als <input type="text" name="username" id="username" value="{{ username }}">
      <input type="text" name="source" hidden="true" value="{{ request.path_info }}">
      <input class="btn btn-sm btn-warning" type="submit" value="Name ändern">
    </form>
    <form action="{% url 'zettelbox:logout' %}" method="post">
      {% csrf_token %}
      <input class="btn btn-sm btn-danger" type="submit" value="Löschen">
    </form>
    </div>
  </div>

</div>

</body>
</html>
